*-
*~
*.a
*.o
*.err
junk*
ttf2pt1/CHANGES
ttf2pt1/FONTS
ttf2pt1/FONTS.hpux
ttf2pt1/README
ttf2pt1/t1asm
ttf2pt1/ttf2pt1
ttf2pt1/ttf2pt1.1
ttf2pt1/ttf2pt1_convert.1
ttf2pt1/ttf2pt1_x2gs.1
ttf2pt1/app/RPM/Makefile
ttf2pt1/app/RPM/ttf2pt1.spec
ttf2pt1/app/TeX/README
ttf2pt1/app/X11/README
ttf2pt1/app/netscape/README
ttf2pt1/encodings/README
ttf2pt1/other/README
